Source: cfirewalld
Maintainer: Jérôme Poulin <jeromepoulin@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.7
Vcs-Git: git://github.com/ticpu/cfirewalld
Build-Depends: debhelper (>= 9)

Package: cfirewalld
Architecture: any
Depends: dnsutils, ipset, iptables, sudo, systemd,
 ${misc:Depends}
Suggests: conntrack, conntrackd
Description: Bash based firewall.
 Script to automate application and rollback of iptables based firewall.
 Allows one to group rules together and resolve hostnames.
